@tailwind base;
@tailwind components;
@tailwind utilities;

/* 임으로 초기화 했습니다. 필요하신 부분 추가 및 수정 부탁드립니다. */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@layer components {
  .skeleton-full {
    @apply animate-pulse rounded-full bg-gray-300;
  }
  .skeleton-normal {
    @apply animate-pulse bg-gray-300;
  }
}

.swiper-pagination-bullet {
  @apply size-[5px] cursor-pointer rounded-full bg-gray-300 !important;
}
.swiper-pagination-bullet-active {
  @apply bg-black !important;
}
