.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.react-calendar__navigation__label > span {
  color: #1f2937;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
  .react-calendar__month-view__weekdays__weekday {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    abbr {
      text-decoration: none;
    }
  }
}

.react-calendar__tile {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  transition: 0.2s;
  transition-property: background, color;

  &.react-calendar__tile--now {
    color: #ea580c;
  }

  &.react-calendar__month-view__days__day--weekend {
    color: #9ca3af;
  }

  &.react-calendar__tile--active {
    background: #ea580c;
    color: #fff;
  }
}
